POD_KEY=epm18_test
EPM_BASE_URL=https://epm18-test-a706571.epm.us2.oraclecloud.com/epmcloud
PW_STORAGE_STATE=playwright/.auth/user.epm18_test.json
PW_AUTH_USER_KEY=user
PW_AUTO_AUTH=true
PW_AUTH_HEADLESS=true
PW_HEADLESS=false
PW_CHANNEL=msedge
PW_SLOWMO=0
